{% load static %}
<!DOCTYPE html>
<html lang="du">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ----------main style------------ -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <!-- ------------Google Fonts-------------- -->
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- --------------Icon pack font-awesome----------- -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- --------------------Google Maps Api---------------- -->
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl7F3URup7S4Of3R3cJQLk535vNnUQRzg&callback=initMap">
    </script>
    <title>Malaika | World's Best Market</title>
</head>

<body>
    {% include 'includes/navbar.html' %}
    
    {% block content %}
    {% endblock %}
    
    {% include 'includes/footer.html' %}
    
    <script src="{% static 'assets/js/main.js'%}"></script>
</body>

</html>