<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="images/logo.png" style="height:60px;" alt="logo-image">
            </div>
            <nav>
                <ul id="menu-items">
                    <li><a href="">Home</a></li>
                    <li><a href="index2.html">Products</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="register.html">Account</a></li>
                </ul>
            </nav>
            <img src="images/cart.png" alt="cart" width="30px" height="30px" class="cart-img">
            <img src="images/menu.png" alt="menu" width="30px" height="30px" class="menu-icon" onclick="menutoggle()">
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <h1 class="text-white">Great deals happening <br> Right Now!</h1>
                <p>Enjoy a safe, convenient shopping experience</p>
                <p>Shop stress-free from home. We're ready to help, online or by phone.</p>
                <a href="" class="btn btn-main">Explore Now &#8594;</a>
            </div>
            <div class="col-md-6">
                <img src="images/laptop-banner.png" alt="banner-image" class="center">
            </div>
        </div>
    </div>
</div>